@keyframes poisson {
   from {
        transform: translateY(0vh);
    }
    to {
        transform: translateY(-20vh) translateX(-30vh);
    }
}
.st3 {
    animation-name : poisson;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
@keyframes bubble {
   from {
        transform: translateY(0vh);
    }
    to {
        transform: translateY(-20vh);
    }
}
.st4 {
    animation-name : bubble;
    animation-delay: 1s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}